.main-container {
	padding: 15px;
}
.main-title {
	font-weight: 500;
	font-size: 20px;
	font-style: initial;
}

.links {
	display: flex;
	font-size: 20px;
	font-weight: bolder;
	color: dodgerblue;
	text-decoration: none;
}

.filtrer-sort-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
input {
	display: flex;
	width: 60%;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 8px;
	font-size: 18px;
}
.sort-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	border: 1px solid gray;
	border-radius: 4px;
}

.sort-dropdown {
	display: flex;
	flex-direction: column;
}
.sort-btn {
	border: none;
	outline: none;
	margin-bottom: 3px;
	padding: 7px;
	font-size: 18px;
	letter-spacing: 1px;
}

@media only screen and (min-width: 768) {
	.main-title {
		font-size: 26px;
	}
}

@media only screen and (min-width: 992px) {
	.main-container {
		width: 80%;
	}
	.main-title {
		font-size: 48px;
	}
	.links {
		font-size: 32px;
	}
	.filtrer-sort-container {
		margin-top: 20px;
	}
	input {
		padding: 18px;
		font-size: 20px;
	}

	.sort-container {
		width: 20%;
	}
	.sort-btn {
		padding: 18px;
		font-size: 20px;
	}
	.prewords-container {
		margin: 40px 0;
	}
	.prewords {
		font-size: 20px;
		line-height: 25px;
	}
}
@media only screen and (min-width: 1200px) {
	.main-container {
		width: 70%;
	}
	.main-title {
		font-size: 52px;
	}
	.links {
		font-size: 38px;
	}

	.filtrer-sort-container {
		margin-top: 30px;
	}

	input {
		padding: 22px;
		font-size: 26px;
	}

	.sort-btn {
		font-size: 28px;
	}
	.prewords {
		font-size: 32px;
		line-height: 40px;
	}
}
