.card-container {
	margin-bottom: 30px;
	margin-top: 30px;
	width: 80%;
	margin: 1px;
}
.drug-name {
	font-weight: bold;
	font-size: 16px;
	/* color: rgb(87, 206, 87); */
}
.activeSubs-name {
	font-size: 12px;
	/* line-height: 2px; */
}

.img-container {
	padding-top: 10px;
}

.img-all-drugs {
	height: 130px;
	width: 100%;
	transform: scale(0.8, 1.2);
	margin: 10px 0 14px 0;
	transform: scale(0.6, 0.9);
}

.btn-minage-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: flex-end;
}
.dosag-mobileSize {
	display: flex;
	margin-top: 8px;
	font-size: 14px;
}

.otc-drug {
	font-style: italic;
	font-size: 14px;
}

.interaction-btn {
	display: flex;
	justify-content: center;
	align-content: center;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 8px 0;
	background-color: white;
	width: 100%;

	cursor: pointer;
	margin-bottom: 10px;
	padding: 10px;
}
.readMore-link {
	font-size: 14px;
}

.alert-name-btn-container {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 590px) {
	.img-all-drugs {
		transform: scale(0.4, 1.1);
	}
}

@media only screen and (min-width: 768px) {
	.card-container {
		display: flex;
		width: 30%;
		flex-direction: column;
		padding: 0 10px;
	}
	.drug-name {
		font-size: 18px;
	}

	.img-all-drugs {
		display: flex;
		height: 150px;
		transform: scale(0.5, 1);
	}
	.readMore-link {
		margin-bottom: 10px;
	}
	.dosag-mobileSize {
		display: flex;
		margin-top: 0;
	}

	.otc-drug {
		font-size: 14px;
		margin-top: 10px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.card-container {
	}
	.drug-name {
		font-size: 20px;
	}
	.activeSubs-name {
		font-size: 16px;
	}

	.img-all-drugs {
		height: 130px;
		transform: scale(0.7, 1);
	}

	.dosag-mobileSize {
		font-size: 16px;
	}
	.otc-drug {
		font-size: 16px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.drug-name {
		font-size: 22px;
	}
	.activeSubs-name {
		font-size: 18px;
	}
	.img-container {
		display: flex;
		width: 80%;
	}
	.img-all-drugs {
		height: 150px;
		transform: scale(0.5, 0.8);
	}

	.dosag-mobileSize {
		font-size: 20px;
	}
	.otc-drug {
		font-size: 20px;
	}
}
