.popup-alert {
	z-index: 9999;
	background-color: "blue";
	overflow-y: scroll;
	height: 200px;
	border: 1px solid gray;

	border-radius: 15px;
}
.alert-box {
	padding: 0 8px;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.alert-name-btn-container {
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
.interactions-name {
	font-size: 12px;
	margin: 3px;
}
.alert-message {
	width: auto;
}

.alert-close-btn {
	border: none;
	background-color: white;
	outline: none;
	font-size: 16px;
	/* background-color: rgb(194, 224, 194); */
	display: flex;
	align-self: flex-end;
}
.interactions-container {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.interactions-name {
		font-size: 14px;
	}
	.popup-alert {
		height: 220px;

		margin-top: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.popup-alert {
		height: 220px;
		margin-top: 20px;
	}
	.alert-box {
		padding: 10px;
	}
	.icon {
		height: 20px;
		width: 20px;
		margin-bottom: 12px;
	}
	.interactions-name {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1200px) {
	.popup-alert {
		height: 240px;
	}

	.interactions-name {
		font-size: 16px;
	}
}
