#popup-alert {
	z-index: 9999;

	background-color: "blue";
	overflow-y: scroll;

	height: 200px;
}
.alert-box {
	padding: 10px;
	height: max-content;
	background-color: white;
	border-radius: 15px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}
.alert-name-btn-container {
	display: flex;
	justify-content: space-between;
}
.interactions-name {
	border-top: 1px solid black;
	padding-top: 10px;
}
.alert-message {
	width: auto;
}

.alert-close-btn {
	border: none;
	outline: none;
	font-size: 16px;
	background-color: white;
	display: flex;
	align-self: flex-end;
}
.interactions-container {
	width: 100%;
}
.interactions-description {
	font-size: 12px;
}
