.main-container {
	padding: 110px 15px 15px 15px;
}

.filtrer-sort-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 80px;
}
input {
	display: flex;
	width: 95%;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 8px;
	font-size: 18px;
	margin-bottom: 8px;
}
.sort-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	/* border: 1px solid gray; */
	border-radius: 4px;
	position: absolute;
	bottom: 0;
}

.sort-dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	width: 100%;
	/* border: 1px solid gray; */
}
.sort-btn {
	border: none;
	outline: none;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: rgb(182, 235, 182);
	color: white;
	bottom: 0px;
}

.test {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
	box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
	input {
		display: flex;
		width: 40%;
		border: 1px solid gray;
		border-radius: 5px;
		padding: 8px;
		font-size: 18px;
		margin-bottom: 8px;
	}
	.sort-container {
		display: flex;
		flex-direction: column;
		width: 15%;
		border-radius: 4px;
	}
}

@media only screen and (min-width: 992px) {
	.main-container {
		width: 85%;
	}

	.filtrer-sort-container {
		margin-top: 20px;
		height: 90px;
	}
	input {
		padding: 12px;
		font-size: 20px;
	}

	.sort-container {
		width: 13%;
		top: 55px;
	}
	.sort-dropdown {
		top: 100%;
	}
	.sort-btn {
		padding: 8px;
		font-size: 20px;
	}
	.prewords-container {
		margin: 40px 0;
	}
	.prewords {
		font-size: 20px;
		line-height: 25px;
	}
}
@media only screen and (min-width: 1200px) {
	.main-container {
		width: 80%;
	}

	.filtrer-sort-container {
		margin-top: 30px;
		height: 105px;
	}

	input {
		padding: 15px;
		font-size: 22px;
		width: 30%;
	}
	.sort-container {
		width: 10%;
		top: 64px;
	}
	.sort-btn {
		font-size: 22px;
	}
	.prewords {
		font-size: 20px;
		line-height: 40px;
	}
}
