.main-container {
	padding: 15px;
}

.Links {
	display: flex;
	font-size: 20px;
	font-weight: bolder;
	color: dodgerblue;
	text-decoration: none;
}
input {
	margin-top: 10px;
	display: flex;
}

@media only screen and (max-width: 600px) {
}
