.page-container {
	padding: 110px 10px 10px 10px;
	width: 100%;
}
.go-back-btn {
	border: none;
	outline: none;
	background-color: white;
	font-size: 14px;
}

.sidebar-parent {
	display: flex;
	flex-direction: column;
	margin: 15px 0 20px 0;
}
.breadCrumbs-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.home-btn {
	border: none;
	outline: none;
	background-color: transparent;
	color: blue;
	padding: auto 0;
	display: flex;
	font-size: 14px;
}
.optionValue {
	display: flex;
	font-size: 14px;
}
.dropdown-icons {
	color: blue;
	font-size: 18px;
}
.sidebar-options {
	display: flex;
	color: dodgerblue;
	border: none;
	background-color: white;
	font-size: 14px;
}
.card-container {
	margin-top: 10px;
}

.card-parent {
}
@media only screen and (min-width: 768px) {
	.sidebar-card-container {
		padding: 0 10px;
	}
	.go-back-btn {
		font-size: 16px;
	}
	.sidebar-options {
		font-size: 18px;
		padding: 5px 0;
	}
	.card-parent {
		display: flex;
		width: 100%;
		flex-direction: row;

		flex-wrap: wrap;
	}
}
@media only screen and (min-width: 992px) {
	.page-container {
		width: 85%;
		/* margin-top: 45px; */
	}
	.go-back-btn {
		font-size: 20px;
	}
	.sidebar-options {
		font-size: 16px;
	}
}
@media only screen and (min-width: 1200px) {
	.page-container {
		width: 80%;
		/* margin-top: 45px; */
	}
}
