.page-container {
	padding: 10px;
}
.go-back-btn {
	border: none;
	outline: none;
	background-color: white;
}

.sidebar-parent {
	display: flex;
	flex-direction: column;
}
.sidebar-options {
	display: flex;
	padding: 10px;
	color: dodgerblue;
	border: none;
	background-color: white;
	font-size: 18px;
}
.card-container {
	margin-top: 10px;
}
