.singleDrug-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 110px;
}
.go-back-btn {
	border: none;
	outline: none;
	background-color: white;
	font-size: 14px;
	align-self: flex-start;
}

.single-card-container {
	padding: 0 10px;
}
.img-container-singleDrug {
	margin-bottom: 10px;
}
.small-img-box-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}
.img-box-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}

.img-single-drug {
	height: 130px;
	width: 50%;
	transform: scale(0.9, 1);
	/* margin: 10px 0 14px 0; */
}
.box-information-parent {
	width: 100%;
}
.box-titles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid gray;
	width: 100%;
	border-bottom: none;
	/* background-color: rgb(131, 208, 131); */
}

.box-btns {
	border: none;
	background-color: rgb(182, 235, 182);
	outline: none;
	font-size: 14px;
	padding: 5px 0;
	width: 33.33%;
}

.information-box {
	display: flex;
	flex-direction: column;
	/* border: 1px solid gray; */
	border-top: none;
	padding: 0 5px;
	border-radius: 10px;
}
.drug-description {
	font-size: 13px;
}
.dosage-parent {
	padding-top: 10px;
}
#interaction-btn {
	margin-top: 20px;
	width: 100%;
	border-radius: 10px;
	background-color: transparent;
	padding: 10px;
}
@media only screen and (min-width: 600px) {
	.small-img-box-container {
		flex-direction: row;
		min-height: fit-content;
		height: 180px;
	}
	.img-box-container {
		flex-direction: row;
		height: 230px;
		min-height: fit-content;
	}
	.img-container-singleDrug {
		width: 29%;
	}
	.img-single-drug {
		width: 100%;
	}
	.box-information-parent {
		width: 69%;
	}

	#interaction-btn {
		width: 60%;
	}
	#interaction-btn :hover {
		color: black;
	}
}
@media only screen and (min-width: 768px) {
	.go-back-btn {
		font-size: 16px;
	}
	.small-img-box-container {
		height: 160px;
	}
	.img-box-container {
		height: 180px;
	}
	.drug-description {
		font-size: 14px;
	}
	#interaction-btn {
		margin-top: 20px;
		width: 50%;
	}
}
@media only screen and (min-width: 992px) {
	.singleDrug-container {
		width: 85%;
	}
	.img-box-container {
		height: 220px;
	}
	.drug-description {
		font-size: 16px;
	}
	#interaction-btn {
		margin-top: 20px;
		width: 40%;
	}
}

@media only screen and (min-width: 1200px) {
	.singleDrug-container {
		width: 80%;
	}
	.small-img-box-container {
		height: 180px;
	}

	.img-box-container {
		height: 190px;
	}
	.drug-description {
		font-size: 16px;
	}
	#interaction-btn {
		margin-top: 20px;
		width: 40%;
	}
}
